body {
	background-image: url(../img/textura.jpg);
}

.fondo {
	background-color: rgba(0,0,0,0.5);
}

.fondo2 {
	height: 100vh;
	width: auto;
}

h1 {
	font-family: 'Coiny', cursive;
	color:	#66B6DF;
	text-shadow: 2px 2px #4B88A8;
}

h4 {
	font-family: 'Josefin Sans', sans-serif;
	color:#C6CAD3;
}

.boton {
	margin-top:15px;
	margin-bottom: 15px;
	text-align: center;
	color: #7649F5;
	font-family: 'Josefin Sans', sans-serif;

} 

.input {
	margin-left:10px;
	width:150px;
	display:inline-block;
	margin-bottom: 10px;
}

.boton-guardar {
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 8px;
}

.fondo3 {
	background-color: #F2F2F8;
	margin-top: 10px;
	margin-left: 10px;
	border:2px solid #80D0D6;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	width:250px;
}

.titulo-lista {
	font-family: 'Josefin Sans', sans-serif;
	color: #4175F8;

}	

a:hover{
	text-decoration: none;
}

a {
	cursor:pointer;
	margin-left: 8px;

	
}
.textarea-style {
	margin-top:5px;
	margin-bottom: 5px;

}

.iblock {
	width: 300px;
	display: inline-block;
	float: left;
  	min-height: 1px;
  	padding-left: 10px;
  	padding-right: 10px;
}
